*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #f4f4f4;
   font-family: Arial,  sans-serif;
   padding: 20px;
    
}
.container{
 width: 100%;
 max-width: 500px;
 background: white;
 padding: 20px;
 border-radius: 12px;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.input-box input{
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
.input-box button{
    padding: 12px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.input-box button:hover{
    transform: scale(1.05);
}
#nodelist{
    display: grid;
    gap: 15px;
}
#nodelist li{
    list-style: none;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    word-break: break-word;

}
#nodelist li:hover{
    transform: translateY(-3px);
}
#nodelist li button{
    border: none;
    padding: 8px 14px;
    background: red;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.03s;
    font-size: 14px;
}
#nodelist li button:hover{
    background: darkred;
    transform: scale(1.05);
}
@media (max-width:500px) {
    .input-box{
        flex-direction: column;
    }
    .input-box button{
        width: 100%;
    }
    #nodelist li{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}